numpy==1.26.4
opencv-python==4.8.1.78

flask
flask-cors

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu

timm==0.9.12

facenet-pytorch==2.6.0

pillow
scipy
librosa
sounddevice

transformers==4.38.2